<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forms</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <h1> Fill out the Form</h1>
    <!--<img src="{% static "images/Swiss.jpg" %}" alt="Uh OH,ERROR"> -->
    <div class="container">
      <form method="POST">
          {{form.as_p}}
          {% csrf_token %}
          <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>

  </body>
</html>
