<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Test MVT</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Hi ! Welcome to my django first time to design MVT</h1>
        <h2> /formpage to go to form page </h2>
        <h2> Here are your Access Records:</h2>
      </div>
    </div>
    <!--<img src="{% static "images/Swiss.jpg" %}" alt="Uh OH,ERROR"> -->
    <div class="djangotwo">
      {% if access_records %}
        <table>
          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>
          {% for acc in access_records %}
          <tr>
            <td> {{ acc.name}} </td>
            <td> {{ acc.date}} </td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p> No ACCESS RECORDED</p>
      {% endif %}
    </div>
  </body>
</html>
